@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap');



body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
   
    
}



.nav{
    display: flex; 
    justify-content: space-between;
    position: relative;
}
.list ul{
    display: flex;
    justify-content: space-between;
    color: #fff;

}

.list ul li{
    list-style: none;
    width: 150px;
    color: aqua;
}
.cont .bg-img .desktop{
    position: absolute;

    
}
.nav .logo{
    color: #fff;
    position: relative;
} 
.herosection{
   position: relative; 
   border: 1px solid white;
   width: 40em;
   text-align: center;
   background-color: #fff;
   margin: auto;
   margin-top: 17em;
   
}
.herosection .hero1 .m-logo{
    margin-top: -25px;
}
.herosection .hero1 h1{
    font-size: 20px;
}
.herosectionn.hero1 p{
    font-size: 5px;
}

.bookmark-btns{
display: flex;
justify-content: space-between;
}
.bookmark-btns .back-btn .back-pro{
    width: 12em;
    height: 3em;
    border-radius: 15px;
    color:#fff;
    background-color: hsl(176, 50%, 47%);
    border: 0px;
}
 .bookmark-btns .ic-bk .icon-b{
    width: 37px;


    /* padding-right: -5em; */
    
} 
.bookmark-btns .ic-bk .bookmark{
    width: 10em;
    height: 3em;
    border-radius: 15px;
    border: 0px;
    display: inline-block;
    /* padding-right: 24.3px; */
}
.first{
    border: 1px solid hsl(0, 10%, 94%);
    background-color: hsl(0, 10%, 94%);
    border: none;
    
}
.amount{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}
.amount h5{
    font-size: 25px;
}
.amount .am, .amo , .amou{
    line-height: 0;
}
.amount .am, .amo, .amou p{
    font-size: 10px;
}
.vert-line hr{
    transform: rotate(90deg);
    border: 1px solid rgb(1, 1, 22);
    width: 60px;
    margin-top: 35px;
}
.file{
    width: 600px;
    margin-bottom: 20px;
    
}



.hero-amount{
    border: 1px solid #fff;
    margin-top: 40px;
    background-color: hsl(0, 10%, 94%);
}
.hero-about{
    border: 1px solid black;
    background-color: rgb(249, 243, 243);
    margin-top: 40px;
    border: none;
    padding-bottom: 20px;
}
.hero-about .about h6{
    font-size: 16px;
    padding-top: 20px;

}
.hero-about .about p{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}
.hero-bamboo, .hero-black, .hero-mahogany{
    border: 1px solid hsl(0, 5%, 83%);
    margin-left: 20px;
    margin-right: 20px;
    background-color:hsl(0, 10%, 94%) ;
    margin: 20px;

}
.bamboo-pledge, .black-pledge, .mahogany-pledge{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.bamboo-pledge .bamboo, .black-pledge .black, .mahogany-pledge .mahogany{
    font-weight: bolder;
}
.bamboo-pledge .pledge, .black-pledge .pledgee, .mahogany-pledge .plege{
    font-weight: bolder;
    color: rgb(7, 144, 144);
}
.hundred-reward, .sixty-reward, .zero-stock{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.hundred-reward button, .sixty-reward button, .zero-stock button{
    width: 9em;
    height: 2em;
    border-radius: 15px;
    background-color:hsl(176, 50%, 47%) ;
    color: #fff;
    border: none;
}
.hundred-reward h5, .sixty-reward h5{
    font-size: 16px;
}
.hero-m .hero-mahogany{
    margin-bottom: 20px;
}
.hero-m{
    opacity: 0.4;
}
.ic-bk .bookmarkbookmarked{
    color: hsl(176, 50%, 47%);
    border: none;
    font-weight: bolder;
}
button{
    cursor: pointer;
}
.about-bgd{
    position: relative;

    

}.pledge, .pledgee, .plege{
    border: none;
}

.pledge-box{
    width: 25em;
    text-align: center;
    border: 1px solid rgb(249, 246, 246);
    /* padding: 10px; */
    background-color: #fff;
    position: relative;
    top: -59em;
    margin: auto;
    
    
    
}
.pledge-box button{
    width: 80px;
    height: 25px;
    border-radius: 10px;
    background-color: hsl(176, 50%, 47%);
    color: #fff;
    border: none;
}
.pledge-box p{
    opacity: 0.6;
}
.reward-container{
    border: 1px solid black;
    width: 33em;
    height: 45em;
    margin: auto;
    position: relative;
    top: -60em;
}
.back-close{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
.close{
    height: 20px;
}
.reward-container{
    padding-left: 30px;
    padding-right: 30px;
    top: -100em;
    border-radius: 10px;
    background-color: #fff;
    border: none;
}
.support{
    font-size: 13px;
}
form .first, .second, .third, .fourth{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgb(239, 236, 233);
    border: none;
}
.bsp, .bspp{
    display: flex;
}
.pm{
padding-left: 15px;
font-size: small;
padding-top: 5px;
color: hsl(176, 50%, 47%);
}
.num{
    padding-left: 170px;
}
.pmm{
    padding-left: 10px;
    font-size: small;
    padding-top: 5px;
    color: hsl(176, 50%, 47%);

}
.pms{
    padding-left: 8px;
    color: hsl(176, 50%, 47%);

}
.numm{
    padding-left: 100px;
}
.nummm{
    padding-left: 190px;
}
form label button{
    border: none;
    font-weight: bold;
    color: hsl(176, 50%, 47%);

}
.conta#blur.active{
    opacity: 0.2;
    /* pointer-events: none; */
    /* user-select: none; */
}
.second .continueP{
    display: flex;
    justify-content: space-between;
}
.bamcont{
    width: 80px;
    height: 30px;
    border-radius: 14px;
    background-color: hsl(176, 50%, 47%);
    border: none;
    color: #fff;
}
.twentyfive{
    width: 80px;
    height: 30px;
    border-radius: 14px;
    border: 1px solid hsl(176, 50%, 47%);
}
.continueP input{
    height: 40px;
    border: none;
    width: 250px;
}
/* .third.toggleContinue.active{
    display: block;
} */
.second .toggleContinue{
    display: none;
} 
.third .toggleContinueThree{
    display: none;
}

.reward-container .second .toggleContinue.active{
    display: block;
}
.reward-container .third .toggleContinueThree.active{
    display: block;
}
.reward-container .first .toggleContinueOne.active{
    display: block;
}

.toggleContinueOne{
    text-align: center;
    display: none;
}



.fade, .fourth h6{
    opacity: 0.3;
}
.bspp{
    opacity: 0.3;
}
.sidenav{
    /* height: 100%; */
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .mobile{
      display: none;
  }

@media only screen and (max-width: 414px){
.nav .list{
    display: none;
}

.mobile{
    display: block;
}
.bg-img{
    display: none;
}
.nav .logo{
    display: none;
}
.sideNav{
    /* background-repeat: no-repeat; */
    position: relative;
}
.sideNav h3{
    color: #fff;
}
.sideNav .bgImage{
 background-repeat: no-repeat;
 width: 100%;
}
.sideNav .bgWord{
    position: absolute;
    top: 8px;
    left: 16px;
}
.sideNav img{
    position: absolute;
    top: 8px;
    right: 16px;
}
ul{
    position: absolute;
    left: 0;
    top: 75px;
    background-color: #fff;
    width: 100%;
    
}
ul li{
    margin: 30px;
    text-decoration: none;
    list-style: none;

}
.herosection{
    width: 100%;
}
.hero-amount .amount{
    display: block;
}
.vert-line{
    transform: rotate(90deg);
}
.file{
    width: 100%;
}
.reward-container{
    width: 90%;
}


}
